<h1>Burgers</h1>


<h2>Burgers available to devour...</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="devour-burg" data-id="{{id}}" data-devour="{{devoured}}">
		      Devour
      	</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that you've already devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
