body{
    background-image: url(../img/halftone-yellow.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin: 0;
    text-align: center;
}

h3{
    margin: 0;
    display: inline-block;
}

.container{
    background-color: white;
    opacity: .8;
    width: 80%;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
};

/* WHY DOESNT THIS WORK */
#burgerImg{
    padding: 30px;  
}

button{
    background-color: #fdd667;
    border-color: #fcd06b;
    border-radius: 8px;
    font-weight: bolder;
}

button:hover{
    background-color:white;
    border-color:black;
    

}



